name: Test

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Set up Python${{ matrix.python-version }}
        uses: actions/setup-python@v2.1.4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Test with unittest
        run: |
          pip install -r requirements.txt
          python -m unittest discover -v